fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.5.2

# LangChain
langchain==0.3.0
langchain-core==0.3.0
langchain-community==0.3.0
langchain-text-splitters==0.3.0
langchain-groq==0.2.0
langchain-google-genai==2.0.0
langchain-huggingface==0.1.0
langchain-qdrant==0.1.4

# Vector DB
qdrant-client==1.11.0

# PDF
pypdf==4.3.1

# Embeddings
sentence-transformers==3.1.1